.cv-background{
    background-color: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    overflow: auto;
}

.cv-body{
    background-color: #1e1e1e;
    color: white;
    min-height: calc(100% - 85px) !important;
    margin: 0 auto;
    margin-top: 85px;
    width: 1750px;
    position:relative;
}

