.cv-background{
    background-color: #121212;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    color: white;
    overflow: auto;
}

.cv-body{
    background-color: #1e1e1e;
    color: white;
    height: auto;
    min-height: calc(100% - 85px) !important;
    margin: 0 auto;
    margin-top: 85px;
    width: 1750px;
}

